/* Lets the greeter user power the machine down from the login screen.
 *
 * Install to /etc/polkit-1/rules.d/ only if the power buttons do nothing:
 * on most systems greetd's user is already permitted through the
 * "allow_any" rules that ship with logind.
 *
 * Adjust the user name if greetd runs as something other than "greeter".
 */
polkit.addRule(function (action, subject) {
    if (subject.user !== "greeter")
        return undefined;

    var allowed = [
        "org.freedesktop.login1.power-off",
        "org.freedesktop.login1.reboot",
        "org.freedesktop.login1.suspend",
        "org.freedesktop.login1.power-off-multiple-sessions",
        "org.freedesktop.login1.reboot-multiple-sessions",
        "org.freedesktop.login1.suspend-multiple-sessions"
    ];

    if (allowed.indexOf(action.id) >= 0)
        return polkit.Result.YES;

    return undefined;
});
